<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>Share - <%= room %></title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="WebSocket Room"/>

<style type="text/css">
html, body{
  text-align: center;
  background-color: #facaca;
  font-size: 20px;
  color: #333;
}
</style>
</head>
<body>
<h3 id="name"></h3>

<input type="text" id="text" class="" value=""/>
<input type="button" class="btn btn-xs btn-primary p-0" id="btn" value="Send" onClick="sendMsg();"/>
</div>

<script>
var uuid = generateUUID();
var socketio = null;

$(function(){
  socketio = io.connect();

  init();
});

function init(){
  $('#name').html( uuid );

  var msg = {
    uuid: uuid,
    room: '<%= room %>',
    timestamp: ( new Date() ).getTime()
  };
  socketio.json.emit( 'init_share', msg );

  socketio.on( 'init_admin_view', function( msg ){
    console.log( 'init_admin_view', msg );
  });
  socketio.on( 'init_share_view', function( msg ){
    console.log( 'init_share_view', msg );
  });
  socketio.on( 'init_client_view', function( msg ){
    console.log( 'init_client_view', msg );
  });
  socketio.on( 'msg_admin_view', function( msg ){
    console.log( 'msg_admin_view', msg );
  });
  socketio.on( 'msg_share_view', function( msg ){
    console.log( 'msg_share_view', msg );
  });
  socketio.on( 'msg_client_view', function( msg ){
    console.log( 'msg_client_view', msg );
  });
}

function generateUUID(){
  //. Cookie の値を調べて、有効ならその値で、空だった場合は生成する
  var did = null;
  cookies = document.cookie.split(";");
  for( var i = 0; i < cookies.length; i ++ ){
    var str = cookies[i].split("=");
    var une = unescape( str[0] );
    if( une == " deviceid" || une == "deviceid" ){
      did = unescape( unescape( str[1] ) );
    }
  }

  if( did == null ){
    var s = 1000;
    did = ( new Date().getTime().toString(16) ) + Math.floor( s * Math.random() ).toString(16);
  }

  var dt = ( new Date() );
  var ts = dt.getTime();
  ts += 1000 * 60 * 60 * 24 * 365 * 100; //. 100 years
  dt.setTime( ts );
  var value = ( "deviceid=" + did + '; expires=' + dt.toUTCString() + '; path=/' );
  if( isMobileSafari() ){
    $.ajax({
      url: '/setcookie',
      type: 'POST',
      data: { value: value },
      success: function( r ){
        //console.log( 'success: ', r );
      },
      error: function( e0, e1, e2 ){
        //console.log( 'error: ', e1, e2 );
      }
    });
  }else{
    document.cookie = ( value );
    //console.log( 'value: ', value );
  }

  return did;
}

function isMobileSafari(){
  return ( navigator.userAgent.indexOf( 'Safari' ) > 0 && navigator.userAgent.indexOf( 'Mobile' ) > 0 );
}

function sendMsg(){
  var text = $('#text').val();
  var msg = {
    uuid: uuid,
    text: text,
    timestamp: ( new Date() ).getTime()
  };
  socketio.json.emit( 'msg_share', msg );
}
</script>
</body>
</html>
